<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KZTracker</title>
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="user_stats.css">
</head>
<body>
    <div class="top">
        <input type="text" id="steamIdField" class="text-field" placeholder="Steam ID" onkeydown="checkEnter(event)" maxlength="50">
        <div id="errorMessage">Invalid Steam ID</div>
        <div class="social-links">
            <p>// Discord: tatska.</p>
            <a href="https://github.com/tatuaua/kztracker" target="_blank">// GitHub</a>
        </div>
    </div>
    <div class="container">
        <div class="graph-container">
            <div class="pointsline"></div>
            <div class="pointsavgline"></div>
            <div class="ljpbline"></div>
        </div>
        <div class="history-container">
            <input type="text" id="runSearch" class="text-field" placeholder="Search for a run" maxlength="50">
            <header>Date - Course - Points - Rank</header>
            <p>
                <span class="date">15.02</span>
                -
                <span class="mapname">kz_dogwater (M)</span>
                -
                <span class="points">879</span>
                -
                <span class="rank">#12</span>
            </p>
            <p>
                <span class="date">14.05</span>
                -
                <span class="mapname">surf_paradise</span>
                -
                <span class="points">732</span>
                -
                <span class="rank">#8</span>
              </p>
              
              <p>
                <span class="date">16.03</span>
                -
                <span class="mapname">bhop_challenge</span>
                -
                <span class="points">921</span>
                -
                <span class="rank">#5</span>
              </p>         
        </div>
    </div>

    <script> var steamId = "<%= steamId %>";</script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="user_stats.js"></script>
    
</body>
</html>