<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KZTracker</title>
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="user_stats.css">
</head>
<body>
    <div class="top">
        <input type="text" id="steamIdField" class="text-field" placeholder="Steam ID" onkeydown="checkEnter(event)">
        <div id="errorMessage">Invalid Steam ID</div>
        <div class="social-links">
            <p >// Discord: tatska.</p>
            <a href="https://github.com/tatuaua/kztracker" target="_blank">// GitHub</a>
        </div>
    </div>
    <div class="container">
        <div class="graph-container">
            <div class="pointsline"></div>
            <div class="pointsavgline"></div>
            <div class="ljpbline"></div>
        </div>
        <div class="history-container">
            <div class="runs-list">BLABLABLA</div>
        </div>
    </div>

    <script> var steamId = "<%= steamId %>";</script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="user_stats.js"></script>
    
</body>
</html>